.THIS .addressCSS{
    background-color: #e1e8f4;
}

.THIS .assetCSS{
    background-color: #edf1f9;
}

.THIS .contactCSS{
    background-color: #eaecef;
}

.THIS .slds-accordion__summary {
    padding:0.5rem;
    background-color:#f3f2f2;
}

.THIS .slds-accordion__content{
    padding:0 1.5rem;
}

.THIS .slds-accordion__section{
    padding:0.75rem !important;
}

.THIS .slds-accordion__summary-heading{
    padding:0 !important;
}
.THIS .slds-section__title{ 
    padding: 0.5rem;
    background-color:#505050;
    color:white
}

.THIS .checkbox{
    margin:8px 0;
}

.THIS.scrollerSize {
    height: 500px;
}

.THIS .slds-modal__content{
    overflow-y: auto !important;
}

.THIS .slds-accordion {
    width: 100%;
}