.cuf-content {
    padding: 0 0rem !important;
}
.slds-p-around--medium {
    padding: 0rem !important;
}       
.slds-modal__content{
    height:unset !important;
    max-height:unset !important;
}
.slds-modal__container{
    max-width: 80rem ;
    width:80% ;     
}